name: Build Next.js web application
on: push
jobs:
    build-project:
        name: Build project
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Install NPM dependencies
              run: npm install
            - name: Build project assests
              run: npm run build
            - name: Upload static site content
              uses: actions/upload-artifact@v4
              with:
                name: static-site
                path:  /home/runner/work/contoso-spaces-next-web-app/contoso-spaces-next-web-app/.next